In [1]:
# imports
import re

import numpy as np
import pandas as pd
import torch
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity
from transformers import AutoTokenizer, pipeline
from sklearn.model_selection import train_test_split
from tqdm.notebook import tqdm

c:\Users\gamem\mambaforge\envs\eedi\lib\site-packages\sentence_transformers\cross_encoder\CrossEncoder.py:13: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm, trange

In [2]:
# constants
eedi_train_csv = "data/train.csv"
eedi_test_csv = "data/test.csv"
eedi_miscon_csv = "data/misconception_mapping.csv"
llm_model_id = "meta-llama/Llama-3.2-1B-Instruct"
sbert_model_id = "BAAI/bge-small-en-v1.5"
submission_csv = "submission.csv"

In [3]:
df = pd.read_csv(
    eedi_train_csv,
    dtype={
        "MisconceptionAId": "Int64",
        "MisconceptionBId": "Int64",
        "MisconceptionCId": "Int64",
        "MisconceptionDId": "Int64",
    },
).fillna(-1)

In [4]:
df.head(1).transpose()

                                                                  0
QuestionId                                                        0
ConstructId                                                     856
ConstructName     Use the order of operations to carry out calcu...
SubjectId                                                        33
SubjectName                                                  BIDMAS
CorrectAnswer                                                     A
QuestionText      \[\n3 \times 2+4-5\n\]\nWhere do the brackets ...
AnswerAText                                   \( 3 \times(2+4)-5 \)
AnswerBText                                  \( 3 \times 2+(4-5) \)
AnswerCText                                   \( 3 \times(2+4-5) \)
AnswerDText                                  Does not need brackets
MisconceptionAId                                                 -1
MisconceptionBId                                                 -1
MisconceptionCId                                                 -1
MisconceptionDId                                               1672

In [ ]:
df.describe()